<link rel="stylesheet" href="/stylesheets/signup.css">
<div id="navBar" class="flex-container">

  <h1 class="flex-box">easytune</h1>

  <p class="account-message flex-box">
    Already have an account? Login!
  </p>

  <form action="/login" method="POST" id="form-container">
    <div class="flex-box">
      <label for="username">Username</label>
      <input id="username2" type="text" name="username" placeholder="JonSnow">
    </div>
    <br><br>
    <div class="flex-box">
      <label for="password">Password</label>
      <input id="password2" type="password" name="password" placeholder="Your password">
    </div>
    <br><br>

    <div class="flex-box">
      <button type="submit" value="Login" class="btn btn-danger">Log In</button>
    </div>


    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <br><br>

  </form>
</div>

<div class="flex-container2">

  <form action="/signup" method="POST" id="form-container2">
    <h2>Sign Up</h2>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="JonSnow">
    <br><br>
    <label for="username">Username </label>
    <input id="username" type="text" name="username" placeholder="JonSnow">
    <br><br>
    <label for="password">Password </label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br><br>

    <div>
      <input type="submit" class="btn btn-danger" value="Signup">
    </div>

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}
  </form>

</div>