<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/homepage.css" />
</head>
<title>{{title}}</title>

<body>


  <header>
    <h1 role="banner"><span class="o">easy</span>tune</h1>
    <nav role="navigation">
      <ul id="sub">
        <li>
          <form action="../profile"> <input type="submit" value="Profile"></form>
        </li>
        <li>
          <form action="../signup"><input type="submit" value="Logout"></form>
        </li>
      </ul>
    </nav>
  </header>

  <body>
    <section role="main">
      <div class="row">
        <div class="block drum">
          <h1>Drum and Bass</h1>
        </div>
        <div class="block jazz">
          <h1>Jazz</h1>
        </div>
        <div class="block metal">
          <h1>Metal</h1>
        </div>
      </div>
      <div class="row">
        <div class="block acoustic">
          <h1>Acoustic</h1>
        </div>
        <div class="block latin">
          <h1>Latin</h1>
        </div>
        <div class="block Punk">
          <h1>Punk</h1>
        </div>
      </div>
      <div class="row">
        <div class="block eighties">
          <h1>80s</h1>
        </div>
        <div class="block hiphop">
          <h1>HipHop</h1>
        </div>
        <div class="block dub">
          <h1>Dub and Reggae</h1>
        </div>
      </div>
      <div class="row">
        <div class="block classical">
          <h1>Classical</h1>
        </div>
        <div class="block grunge">
          <h1>Grunge</h1>
        </div>
        <div class="block folk">
          <h1>Folk</h1>
        </div>
      </div>
    </section>

    <script src="/javascripts/script.js"></script>
  </body>

  </footer>
</body>

</html>