<link rel="stylesheet" href="/stylesheets/homepage.css" />
<header>
  <h1 role="banner"><span class="o">easy</span>tune</h1>
  <nav role="navigation">
    <ul id="sub">
      <li>
        <form action="../profile"> <input type="submit" value="Profile"></form>
      </li>
      <li>
        <form action="../signup"><input type="submit" value="Logout"></form>
      </li>
    </ul>
  </nav>
</header>

<section role="main">
  <div class="row">
    <div class="block Drum">
      <h1>Drum and Bass</h1>
    </div>
    <div class="block Jazz">
      <h1>Jazz</h1>
    </div>
    <div class="block Metal">
      <h1>Metal</h1>
    </div>
  </div>
  <div class="row">
    <div class="block Acoustic">
      <h1>Acoustic</h1>
    </div>
    <div class="block Latin">
      <h1>Latin</h1>
    </div>
    <div class="block Punk">
      <h1>Punk</h1>
    </div>
  </div>
  <div class="row">
    <div class="block Eighties">
      <h1>80s</h1>
    </div>
    <div class="block Hiphop">
      <h1>HipHop</h1>
    </div>
    <div class="block Dub">
      <h1>Dub and Reggae</h1>
    </div>
  </div>
  <div class="row">
    <div class="block Classical">
      <h1>Classical</h1>
    </div>
    <div class="block Grunge">
      <h1>Grunge</h1>
    </div>
    <div class="block Folk">
      <h1>Folk</h1>
    </div>
  </div>

  <div>
    <div class="hover"></div>
  </div>

</section>

<script src="/javascripts/script.js"></script>

</footer>