<link rel="stylesheet" href="/stylesheets/homepage.css" />
<header>
  <h1 role="banner"><span class="o">easy</span>tune</h1>
  <nav role="navigation">
    <ul id="sub">
      <li>
        <a href="/profile">Profile</a>
        {{!-- <form action="../profile"> <input type="submit" value="Profile"></form> --}}
      </li>
      <li>
        {{!-- <form action="../signup"><input type="submit" value="Logout"></form> --}}
        <a href="/signup">Logout</a>
      </li>
    </ul>
  </nav>
</header>

<section role="main">
  <div class="row">
    <div class="block Drum">
      <a href="/search">
        <h1>Drum and Bass</h1>
      </a>
    </div>
    <div class="block Jazz">
      <a href="/search">
        <h1>Jazz</h1>
      </a>
    </div>
    <div class="block Metal">
      <a href="/search">
        <h1>Metal</h1>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="block Acoustic">
      <a href="/search">
        <h1>Acoustic</h1>
      </a>
    </div>
    <div class="block Latin"><a href="/search">
        <h1>Latin</h1>
      </a>
    </div>
    <div class="block Punk"><a href="/search">
        <h1>Punk</h1>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="block Eighties"><a href="/search">
        <h1>80s</h1>
      </a>
    </div>
    <div class="block Hiphop"><a href="/search">
        <h1>HipHop</h1>
      </a>
    </div>
    <div class="block Dub"><a href="/search">
        <h1>Dub and Reggae</h1>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="block Classical"><a href="/search">
        <h1>Classical</h1>
      </a>
    </div>
    <div class="block Grunge"><a href="/search">
        <h1>Grunge</h1>
      </a>
    </div>
    <div class="block Folk"><a href="/search">
        <h1>Folk</h1>
      </a>
    </div>
  </div>

  <div>
    <div class="hover"></div>
  </div>

</section>

<script src="/javascripts/script.js"></script>

</footer>