html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ticketmaster API</title>
</head>
<body>
  <h1>Event Info</h1>
<!--  use input's id to grab the value from the input field -->
<input id="theInput" type="text" onkeyup="checkInput()">
  <button id="theButton">Get the event</button>
    
<!-- the data we get from the API will be populated in here:   -->
  <h2 id="eventGenre"></h2>
  <p id="eventName"></p>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>