body {
  background: #000;
}

header, footer {
  display: block;
  margin: 3px;
  padding: 5px;
  min-height: 100px;
  color: #222;
  background: #e6e7e8;
  }

header nav[role="navigation"] ul {
  background: rgba(113, 253, 100, 0.664); 
  width:100%;
  height: 2em;
  text-align: right;
  padding: 10px 0px 5px 10px; 
  color: #111;
 }

section[role="main"] {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* generes */
.drum {
  background-image: url('../images/DNB.png');
  background-size: cover;
  height: 150px;
}

.jazz {
  background-image: url('../images/Jazz.jpg');
  background-size: cover;
  height: 150px;
}

.metal {
  background-image: url('../images/Metal.jpg');
  background-size: cover;
  height: 150px;
}

.Acoustic {
  background-image: url('../images/Acoustic.png');
  background-size: cover;
  height: 150px;
}

.Latin{
  background-image: url('../images/Latin.jpg');
  background-size: cover;
  height: 150px;
}

.Punk {
  background-image: url('../images/Punk.jpg');
  background-size: cover;
  height: 150px;
}

.eighties {
  background-image: url('../images/80s.jpg');
  background-size: cover;
  height: 150px;
}

.hiphop {
  background-image: url('../images/HipHop.png');
  background-size: cover;
  height: 150px;
}

.dub {
  background-image: url('../images/DubnReggae.jpg');
  background-size: cover;
  height: 150px;
}

.classical {
  background-image: url('../images/Classical.png');
  background-size: cover;
  height: 150px;
}
.Grunge {
  background-image: url('../images/Grunge.jpg');
  background-size: cover;
  height: 150px;
}
.folk{
  background-image: url('../images/Folk.jpg');
  background-size: cover;
  height: 150px;
}
/* end of generes */


.row {
  width: 95%;
  margin: 0 auto;
  display: block;
  height: 180px;
  clear: both;
}
.block {
  color: white;
  border: white;
  display: block;
  width: 32%;
  height: 150px;
  float: left;
  margin: 2% 1% 2% 0%;
  text-align: center;
}

/* .block {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; 
  padding: 10px;
  margin: 10px;
  text-align: center;
} */

.h1 {
  font-family: Roboto;
  font-size: 50px;
}

.block:first-child {
  margin: 2% 1% 2% 1%;
}

@media (max-width: 100px)  {
  
.block {
  width: 100%;
}
}


