body {
  background: #000;
}

/******************************
Flexbox Layout
*******************************/

.header,
.nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.o {
  color: red;
  margin: 12px 0 12px 28px;
}

.header {
  justify-content: space-between;
}

.nav {
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@media all and (min-width: 640px) {
  .header,
  .nav {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    -webkit-flex: none;
    flex: none;
  }
}

.header {
  padding: 20px 0;
  margin: 0 auto;
}

.logo {
  color: red;
  width: 195px;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav {
  list-style: none;
}

.nav li {
  margin: 12px 0 12px 28px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.nav li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* 
.logo {
  display: block;
  margin: 3px;
  padding: 5px;
  color: red;
  background-image: "../images/bloodred.jpg";
}

.navbar {
  text-align: right;
  list-style-type: none;
  list-style: none;
  display: inline-block;
} */

section[role="main"] {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* generes */
.Drum {
  background-image: url("../images/DNB.png");
  background-size: cover;
  height: 150px;
}

.black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 10px;
  color: white;
}

.Jazz {
  background-image: url("../images/Jazz.jpg");
  background-size: cover;
  height: 150px;
}

.Metal {
  background-image: url("../images/Metal.jpg");
  background-size: cover;
  height: 150px;
}

.Acoustic {
  background-image: url("../images/Acoustic.jpeg");
  background-size: cover;
  height: 150px;
}

.Latin {
  background-image: url("../images/Latin.jpg");
  background-size: cover;
  height: 150px;
}

.Punk {
  background-image: url("../images/Punk.jpg");
  background-size: cover;
  height: 150px;
}

.Eighties {
  background-image: url("../images/80s.png");
  background-size: cover;
  height: 150px;
}

.Hiphop {
  background-image: url("../images/HipHop.png");
  background-size: cover;
  height: 150px;
}

.Dub {
  background-image: url("../images/Roots.jpg");
  background-size: cover;
  height: 150px;
}

.Classical {
  background-image: url("../images/Classical.png");
  background-size: cover;
  height: 150px;
}
.Grunge {
  background-image: url("../images/grunge1.jpg");
  background-size: cover;
  height: 150px;
}
.Folk {
  background-image: url("../images/Folk.jpg");
  background-size: cover;
  height: 150px;
}
/* end of generes */

.row {
  width: 95%;
  margin: 0 auto;
  display: block;
  height: 180px;
  clear: both;
}
.block {
  color: white;
  border: white;
  display: block;
  width: 32%;
  height: 150px;
  float: left;
  margin: 2% 1% 2% 0%;
  text-align: center;
}

a:link,
a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.h1 {
  font-family: Roboto;
  font-size: 50px;
}

.block:first-child {
  margin: 2% 1% 2% 1%;
}

@media (max-width: 100px) {
  .block {
    width: 100%;
  }
}
