body {
  background: black;
}

.header,
.nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.o {
  color: red;
  margin: 12px 0 12px 28px;
}
.header {
  justify-content: space-between;
}

.nav {
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@media all and (min-width: 640px) {
  .header,
  .nav {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    -webkit-flex: none;
    flex: none;
  }
}

.header {
  padding: 20px 0;
  margin: 0 auto;
}

.nav {
  list-style: none;
}

.nav li {
  margin: 12px 0 12px 28px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.nav li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

a:link,
a:visited {
  color: red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

section[role="main"] {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.container {
  width: 1000px;
  height: 800px;
  background: #fff;
  padding: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
}

.flex-box {
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap;
  background: #000;
  border: 1px solid silver;
  padding: 5px;
  height: 100px;
  margin: 60px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.flex-container {
  justify-content: center;
  flex-direction: column;
  padding: 300px;
  margin: 100px;
  list-style: none;
  color: white;
  font-weight: bold;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
