* {
  list-style-type: none;
}

h1 {
  color: red;
}

body {
  background-color: #000;
  /* background-color: #ddd; */
}

a {
  text-decoration: none !important;
  line-height: normal !important;
}

.card-body:hover:not(.noResult):not(.nav) { 
  background-color: rgba(255, 20, 40, 1); 
}

.flex-container {
justify-content: center;
flex-direction: column;
padding: 30px;
margin: 30px;
list-style: none;
/* border: 1px solid silver; */
-ms-box-orient: horizontal;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -moz-flex;
display: -webkit-flex;
display: flex;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 60px 0px 60px !important;
  height: 60px !important;
  line-height: normal !important;
  justify-content: flex-end !important;
}

.filter input {
  margin: auto 20px !important;
  flex: 1;
}

.filter button {
  border: #000;
  background-color: #000;
  margin: auto !important;
  height: 30px;
  width: 30px;
}

input[name="favourite"] {
  
}

.filter .navbar {
  margin: auto;
  padding: 0px;
}

.filter .navbar #logoutBtn {
  padding: 2px 0 0 0;
}

.flex-box li,
.filter {
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap;
  background: #000;
  /* border: 1px solid silver; */
  padding: 5px;
  height: 100px;
  margin: 60px;
  line-height: 30px;
  /* color: white; */
  font-weight: bold;
}

/* removes indent from list elements. for some reason needs to have an id*/
#resultsList,
#sub {
  padding-inline-start: 0px;
}
