body {
  background-color: #ddd;
}

.flex-container {
  background: rgba(113, 253, 100, 0.664);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  box-shadow: 3px 3px 10px grey;
}

.flex-box {
  display: inline-flex;
  margin: 0px;
  padding: 10px;
}

.flex-container form {
display: inline-flex;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px 100px;
}

.flex-container2 h2 {
  margin-inline-end: inherit;
}

#form-container2 {
  background: rgba(113, 253, 100, 0.664);
  padding: 20px;
  box-shadow: 3px 3px 10px grey;
}